
pip>=25.1
setuptools>=70.0
wheel>=0.43


fastapi==0.104.1

uvicorn[standard]==0.24.0

pydantic==2.5.0

groq==0.4.1

python-dotenv==1.0.0

python-multipart==0.0.6

langchain==0.2.16

langchain-core==0.2.38

langchain-community==0.2.16

langchain-groq==0.1.5

typing-extensions==4.12.2


itsdangerous==2.2.0
